{
  "extends": "airbnb/base",
  "plugins": [
    "angular"
  ],
  "rules": {
    "new-cap": [2, {
      "capIsNewExceptions": ["Component", "View", "State", "Filter", "Component", "Inject", "SetModule"]
    }],
    "no-shadow": [0],
    "angular/di": [0]
  }
}
