img(src='images/logo.png', width='204', height='123', layout-margin='')
md-whiteframe.md-whiteframe-z1(layout='column', flex='50', layout-margin='')
  md-toolbar
    .md-toolbar-tools
      h2 {{'REGISTER.REGISTRATION' | translate}}
  md-content(layout-padding='')
    form(layout='column', ng-submit='register.register()', name='registerForm', novalidate='')
      md-input-container
        label {{'REGISTER.EMAIL' | translate}}
        input(type='email', name='email', ng-model='register.email', aria-label='{{"REGISTER.EMAIL" | translate}}', required='')
        div(ng-messages='registerForm.email.$error', ng-if='registerForm.email.$touched')
          div(ng-message='required') {{'REGISTER.EMAIL_REQUIRED' | translate}}
          div(ng-message='email') {{'REGISTER.EMAIL_INVALID' | translate}}
      md-input-container
        label {{'REGISTER.PASSWORD' | translate}}
        input(type='password', name='password', ng-model='register.password', ng-minlength='7', aria-label='{{"REGISTER.PASSWORD" | translate}}', required='')
        div(ng-messages='registerForm.password.$error', ng-if='registerForm.password.$touched')
          div(ng-message='required') {{'REGISTER.PASSWORD_REQUIRED' | translate}}
          div(ng-message='minlength') {{'REGISTER.PASSWORD_MIN_LENGTH' | translate : '{ count: 7 }'}}

      md-input-container
        label {{'REGISTER.PASSWORD_REPEAT' | translate}}
        input(type='password', name='passwordRepeat', ng-model='register.passwordRepeat', aria-label='{{"REGISTER.PASSWORD_REPEAT" | translate}}', match='register.password')
        div(ng-messages='registerForm.passwordRepeat.$error', ng-if='registerForm.passwordRepeat.$touched')
          div(ng-message='match') {{'REGISTER.PASSWORD_MATCH' | translate}}

      div(layout='row', layout-align='center center')
        md-button.md-raised.md-primary.register-btn(aria-label='{{"REGISTER.REGISTER" | translate}}', type='submit', ng-disabled='!registerForm.$valid') {{'REGISTER.REGISTER' | translate}}
        span(flex)
        a(ui-sref='app.login', layout-margin='') {{'REGISTER.ALREADY_REGISTER' | translate}}

    md-divider(layout-margin='')

    div(layout='row', layout-align='center center')
      h1.md-title {{'REGISTER.LOGIN_WITH' | translate}}

    div(layout='row', layout-align='space-around center')
      md-button(ng-click='register.loginWith("Twitter")', aria-label='Twitter')
        ng-md-icon(icon='twitter')
        span  Twitter
      md-button(ng-click='register.loginWith("Facebook")', arial-label='Facebook')
        ng-md-icon(icon='facebook')
        span  Facebook
      md-button(ng-click='register.loginWith("Google")', arial-label='Google')
        ng-md-icon(icon='google-plus')
        span  Google
