md-content(flex='', layout='column')
  md-toolbar
    .md-toolbar-tools
      h3 FinanceButler
      span(flex)
      {{vm.currentUser|json}}
      md-menu(ng-if='$root.currentUser._id')
        md-button(arial-label='', ng-click='$mdOpenMenu($event)')
          ng-md-icon(icon='account_circle')
          span  {{'APP.PROFILE' | translate}}
        md-menu-content(width='4')
          md-menu-item
            md-button(ng-click='$root.state.go("account.settings")') {{'APP.SETTINGS' | translate}}
          md-menu-item
              md-button(ng-click='$root.state.go("account.profile")') {{'APP.PROFILE' | translate}}
          md-divider
          md-menu-item
            md-button(ng-click='$root.state.go("logout")') {{'APP.LOGOUT' | translate}}
  ui-view(flex='', layout='column')
  
