img(src='images/logo.png', width='204', height='123', layout-margin='')

md-whiteframe.md-whiteframe-z1(layout='column', flex='30', ng-if='!resetPassword.token', layout-margin='')
  md-toolbar
    .md-toolbar-tools
      h2 {{'RESET_PASSWORD.RECOVERY_PASSWORD' | translate}}
  md-content(layout-padding='')
    form(layout='column', ng-submit='resetPassword.recovery()', name='resetPasswordForm', novalidate='')
      md-input-container
        label {{'RESET_PASSWORD.EMAIL' | translate}}
        input(type='email', name='email', ng-model='resetPassword.email', aria-label='email', required='')
        div(ng-messages='resetPasswordForm.email.$error', ng-if='resetPasswordForm.email.$touched')
          div(ng-message='required') {{'RESET_PASSWORD.EMAIL_REQUIRED' | translate}}
          div(ng-message='email') {{'RESET_PASSWORD.EMAIL_INVALID' | translate}}

      div(layout='row', layout-align='center center')
        md-button.md-raised.md-primary.reset-password-btn(aria-label='{{"RESET_PASSWORD.RECOVERY" | translate}}', type='submit', ng-disabled='!resetPasswordForm.$valid') {{'RESET_PASSWORD.RECOVERY' | translate}}
        span(flex)
        a(ui-sref='app.login', layout-margin='') {{'RESET_PASSWORD.LOGIN' | translate}}

    md-divider(layout-margin='')

    div(layout='row', layout-align='center center')
      h1.md-title {{'RESET_PASSWORD.LOGIN_WITH' | translate}}

    div(layout='row', layout-align='space-around center')
      md-button(ng-click='resetPassword.loginWith("Twitter")')
        ng-md-icon(icon='twitter')
        span  Twitter
      md-button(ng-click='resetPassword.loginWith("Facebook")')
        ng-md-icon(icon='facebook')
        span  Facebook
      md-button(ng-click='resetPassword.loginWith("Google")')
        ng-md-icon(icon='google-plus')
        span  Google

    md-divider(layout-margin='')

    div(layout='row', layout-align='space-around center', layout-padding='')
      a(ui-sref='app.register', layout-margin='') {{'RESET_PASSWORD.REGISTRATION' | translate}}

md-whiteframe.md-whiteframe-z1(layout='column', flex='50', ng-if='resetPassword.token', layout-margin='')
  md-toolbar
    .md-toolbar-tools
      h2 {{'RESET_PASSWORD.RECOVERY_PASSWORD' | translate}}
  md-content(layout-padding='')
    form(layout='column', ng-submit='resetPassword.save()', name='savePasswordForm', novalidate='')
      md-input-container
        label {{'RESET_PASSWORD.NEW_PASSWORD' | translate}}
        input(type='password', name='password', ng-model='resetPassword.password', ng-minlength='7', aria-label='{{"RESET_PASSWORD.NEW_PASSWORD" | translate}}', required='')
        div(ng-messages='savePasswordForm.password.$error', ng-if='savePasswordForm.password.$touched')
          div(ng-message='required') {{'RESET_PASSWORD.NEW_PASSWORD_REQUIRED' | translate}}
          div(ng-message='minlength') {{'RESET_PASSWORD.NEW_PASSWORD_MIN_LENGTH' | translate : '{ count: 7 }'}}

      md-input-container
        label {{'RESET_PASSWORD.NEW_PASSWORD_REPEAT' | translate}}
        input(type='password', name='passwordRepeat', ng-model='resetPassword.passwordRepeat', aria-label='{{"RESET_PASSWORD.PASSWORD_REPEAT" | translate}}', match='resetPassword.password')
        div(ng-messages='savePasswordForm.passwordRepeat.$error', ng-if='savePasswordForm.passwordRepeat.$touched')
          div(ng-message='match') {{'RESET_PASSWORD.NEW_PASSWORD_MATCH' | translate}}

      div(layout='row', layout-align='center center')
        md-button.md-raised.md-primary.save-password-btn(aria-label='{{"RESET_PASSWORD.SAVE" | translate}}', type='submit', ng-disabled='!savePasswordForm.$valid') {{'RESET_PASSWORD.SAVE_NEW_PASSWORD' | translate}}
