reset-password
  background #FAFAFA
  flex 1
  flex-direction column
  align-items center
  display flex
  justify-content center
  .reset-password-btn
    min-width 200px
  .save-password-btn
      min-width 270px
